{% include "header.twig" %}

<h1 class="date content">{{date}}</h1>
<div class="content">
  <div>
    <form action="/" method="post" class="new-task">
      <input type="text" name="taskText" placeholder="New Task" autocomplete="off">
      <button type="submit" name="submit"><span id="plus">+</span></button>
    </form>
  </div>

  <ul>
    {% for task in tasks %}
    <li>
      <input type="checkbox" name="{{task.id}}" checked>
      <label for="{{task.id}}">{{ task.task|e }}</label>
    </li>
    {% endfor %}
  </ul>
</div>

{% include "footer.twig" %}