{% include "header.twig" %}

<h1 class="date content">{{date}}</h1>
<div class="content">
  <div>
    <form action="/" method="post" class="new-task">
      <input type="text" name="taskText" placeholder="New Task" autocomplete="off">
      <button type="submit" name="submit"><span id="plus">+</span></button>
    </form>
  </div>

  <ul>
    {% for task in tasks %}
    <li>
      <form action="/delete" method="post">
        <input type="checkbox" name="checkbox" value="{{task.id}}" unchecked onChange="this.form.submit()">
        <label for="{{task.id}}">{{ task.task|e }}</label>
      </form>
    </li>
    {% endfor %}
  </ul>
</div>
{# <form method="POST" action="/">
    <input class="form-check-input" name="checked" type="checkbox" value="true" onChange="this.form.submit()">
</form> #}

{% include "footer.twig" %}