{% include "header.twig" %}

<h1 class="date content">{{date}}</h1>
<div class="new-task content">
    <input type="text" name="new-task-field" placeholder="New Task">
    <button type="submit"><span id="plus">+</span></button>

    <ul>
    {% for task in tasks %}
    <li>
      <input type="checkbox" name="{{task.id}}" checked>
      <label for="{{task.id}}">{{ task.task|e }}</label>
    </li>
    {% endfor %}
</ul>
</div>
{% include "footer.twig" %}