html {
    height: 100%;
    background: rgb(131,58,180);
    background: linear-gradient(52deg, rgba(131,58,180,1) 0%, rgba(253,29,29,0.7147233893557423) 50%, rgba(252,176,69,1) 100%);
    display: flex;
    justify-content: center;
    font-size: 150%;
}
body {
    width: 60%;
    display:flex;
    flex-direction: column;
    font-family: 'Poppins', sans-serif; 
}

button {
    margin: 1rem;
    border-radius: 50%;
    background-color: #540d83;
    color: white;
    font-weight: 700;
    width: 2rem;
    height: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

ul {
    list-style: none;
    padding: 0;
}

#plus {
    position:relative;
    font-size: 2rem;
}

.content {
    background: rgba(249, 242, 245, 0.8);
    margin: 2rem;
    padding: 2rem;
    border-radius: 1rem;
}

.date {
    font-size: 2rem;
    font-weight: 600;
    color: #540d83; 
    display: flex;
    justify-content: center;

}

.new-task {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

/* todo: make adaptive design */